<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Content Area Not Found</PageTitle>
        <p role="alert">Sorry, this content area does not exist.</p>
    </NotFound>
</Router>